@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li{
    list-style: none;
}
th{
    font-weight: normal;
    font-size:12px;
}

.text{
    font-size:14px;
}
:root{
    --poppins: 'Poppins' sans-serif;
    --lato: 'Lato' sans-serif;

    --light : #F9F9F9;
    --blue : #3C91E6;
    --light-blue : #CFF8FF;
    --grey : #EEE;
    --dark-grey : #AAAAAA;
    --dark : #342E37;
    --red : #DB504B;
    --yellow : #FFCE26;
    --light-yellow : #FFF2C6;
    --orange : #FD7238;
    --light-orange : #FFE0D3;
    --green-dark : rgb(47,118,146)
}

body{
    background : var(--grey);
    font-family: 'Lato';
}

/*SIDEBAR*/
#sidebar {
    position : fixed;
    top : 0;
    left : 0;
    width: auto;
    height: 100%;
    background: var(--light);
    z-index: 1000;
    font-family: var(--lato);
    transition: .3s ease;
    overflow-x: hidden;
}

#sidebar.hide{
    width : 60px;
}

#sidebar .brand {
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--blue);
}

#sidebar .brand .bx {
    min-width: 60px;
    display: flex;
    justify-content: center;
}

#sidebar .side-menu {
    width : 100%;
    margin-top : 48px;
}

#sidebar .side-menu li {
    height : 48px;
    background : transparent;
    margin-left : 6px;
    border-radius: 48px 0 0 48px;
    padding : 4px;
}

#sidebar .side-menu li.active{
    background: var(--grey);
    position: relative;
}

#sidebar .side-menu li.active::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50px; 
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    z-index: -1;
}

#sidebar .side-menu li.active::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50px; 
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--grey);
    z-index: -1;
}

#sidebar .side-menu li a {
    width : 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size : 16px;
    color: var(--dark );
    white-space: nowrap;
    overflow-x: hidden;
}

#sidebar.hide .side-menu li.active a{
    color : var(--blue);
}

#sidebar.hide .side-menu li a{
    width : calc(48px - (4px * 2));
    transition: width .3s ease;
}

#sidebar .side-menu.top li a:hover{
    color: var(--blue);
}

#sidebar .side-menu li a .bx{
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    justify-content: center;
}

#sidebar .side-menu li a.logout{
 color: var(--red);
}
/*SIDEBAR*/

/*CONTENT*/
#content {
    position: relative;
    width: 100%;
    transition: .3s ease;
}

#sidebar.hide ~ #content{
    width : calc(100% - 60px);
    left: 60px;
}

/*NAVBAR*/
#content nav {
    height: 56px;
    background: var(--light);
    padding: 0 24px;
    display: flex;
    align-items: center;
    grid-gap : 24px;
    font-family: 'Lato';
    position: relative;
}

#content nav::before{
    content : '';
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left:0;
    border-radius: 50px;
    /*box-shadow: -20px -20px 0 var(--light);*/
}

#content nav a{
    color: var(--dark);
}

#content nav .bx.bx-menu{
    cursor: pointer;
}

#content nav .nav-link{
    font-size: 16px;
    transition: .3s ease;
}

#content nav .nav-link:hover{
    color: var(--blue);
}

#content nav form{
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

#content nav form .form-input{
    display: flex;
    align-items: center;
    height: 36px;

}

#content nav form .form-input input{
      flex-grow: 1;
      padding : 0 16px;
      height: 100%;
      border: none;
      background: var(--grey);
      border-radius: 36px 0 0 36px;
      outline : none;
}

#content nav form .form-input button {
    width: 36px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue);
    color: var(--light);
    font-size: 18px;
    border : none;
    outline : none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

#content nav .notification{
    font-size: 20px;
    position: relative;
    margin-left: auto;
}

#content nav .notification .num{
    position : absolute;
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border : 2px solid var(--light);
    background: var(--red);
    color: var(--light);
    font-weight: 700;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content nav .profile img{
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
    display: flex;    
    margin-left: auto;
}
/*NAVBAR*/

/*CONTENT*/
#breadc{
    margin-top:30px;
    margin-left:180px;
}

#data-table{    
    margin:0;
    padding: 0;
    font-size:12px;
}

#table-db{
    width: auto;
    height: auto;
    margin:auto;
    
}

#table-db th{
    background: #515151;
    color: #F9F9F9;
}

#table-db th{
    padding:0;        
}

#table-db td{
    padding: 0;
    margin-left:20px;
}

#filter-btn{    
    padding: auto;
    margin-left: 50px;
    
}
